.notFoundData{
    width: 60%;
    margin: auto;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.border1px{
    border: 1px solid black;
}
.accordion-button p{
    margin-bottom: 0px;
}
.accordion-header button{
    padding: 2px auto !important;
}
